body { 
	font-family: Arial, sans-serif; 
	background-color: #f8f9fa; 
	color: #333; 
	margin: 40px; 
} 
h1 { 
	color: #0056b3; 
} 
section { 
	border: 1px solid #ddd; 
	margin-top: 10px; 
	padding: 10px; 
} 
.alexis{
	border: 5px solid rgb(41, 73, 198);
	padding: 15px;
	background-color: antiquewhite;
}