body { 
	font-family: Arial, sans-serif; 
	background-color: #f8f9fa; 
	color: #333; 
	margin: 40px; 
} 
h1 { 
	color: #0056b3; 
} 
section { 
	border: 1px solid #ddd; 
	margin-top: 10px; 
	padding: 10px; 
} 
.kevin{
	padding: 4px;
	border :solid 3px;
	background-color: rgb(212, 209, 119);
}